# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
coverage

# Development files
.git
.gitignore
.env
.env.*
*.log
.DS_Store

# Test files
**/__tests__
**/*.test.*
**/*.spec.*
test
tests

# Editor directories
.idea
.vscode
*.swp
*.swo

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Cache directories
.cache
.npm
.eslintcache
.stylelintcache 