
node_modules

# Ignore user deployement configuration
compose/.env
compose/docker-compose.yml
compose/docker-compose.override.yml
compose/docker-postgres.env
compose/docker-server.env
compose/traefik/config/traefik.yml
compose/traefik/data

# Aider files
.aider*
# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
# Task files
tasks.json
tasks/ 