SNCF_API_KEY=123123123123123
SNCF_BASE_URL=https://api.sncf.com/v1/
EVENT_IMAGE_UPLOAD_FOLDER=/UPLOAD
EVENT_OPENAI_API_ENDPOINT=http://localhost:11434/v1/
EVENT_OPENAI_API_KEY=xxx
EVENT_DATABASE_URL=postgresql://gohome:VlHBDVzLxkEEMGz@localhost:5432/localevent
